<div class=" d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
        <div class="card-body p-md-4">
            <div class="row justify-content-center">
                <!-- Logo imagen registrase -->
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <img src="https://img.freepik.com/iconos-gratis/navegador_318-290268.jpg" class="img-fluid"
                        alt="Logo simple para mostrar actualización de herramientas de accesibilidad y usabilidad web">
                </div>

                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <!-- Texto registrarse -->
                    <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-4">Actualizar Herramienta</p>

                    <form class="mx-1 mx-md-2">

                        <!-- Input Nombre -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Nombre de la Herramienta</label>
                                <input type="text" id="input-nombre" class="form-control"
                                    [(ngModel)]="formulario.nombre" name="nombre" required />
                            </div>
                        </div>

                        <!-- Input Estadio -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Nombre del Estadio</label>
                                <input type="text" id="input-estadio" class="form-control"
                                    [(ngModel)]="formulario.estadio" name="estadio" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <!-- Input SitioWeb -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label">SitioWeb</label>
                                        <input type="text" id="input-sitioWeb"
                                            class="block w-full py-1 sm:text-sm form-control"
                                            [(ngModel)]="formulario.sitioWeb" name="sitioWeb" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <!-- Input Nacionalidad -->
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label">Nacionalidad</label>
                                        <input type="text" id="input-nacionalidad"
                                            class="block w-full py-1 sm:text-sm form-control"
                                            [(ngModel)]="formulario.nacionalidad" name="nacionalidad" required />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Input Fundacion -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Año de la Fundacion</label>
                                <input type="text" id="input-fundacion" class="form-control" [(ngModel)]="formulario.fundacion"
                                    name="fundacion" required />
                            </div>
                        </div>

                        <!-- Input Entrenador -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Entrenador</label>
                                <input type="text" id="input-entrenador" class="form-control"
                                    [(ngModel)]="formulario.entrenador" name="entrenador" email required />
                            </div>
                        </div>

                        <!-- Input Capacidad -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Capacidad</label>
                                <input type="text" id="input-capacidad" class="form-control"
                                    [(ngModel)]="formulario.capacidad" name="capacidad" required />
                            </div>
                        </div>

                        <!-- Input Valor -->
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Valor</label>
                                <input type="text" id="input-valor" class="form-control"
                                    [(ngModel)]="formulario.valor" name="valor" required />
                            </div>
                        </div>

                        <!-- Botón Actualizar -->
                        <div class="d-flex justify-content-center mx-4 mb-4">
                            <button type="button" class="btn btn-primary btn-lg"
                                (click)="actualizarHerramientas()">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>